<form [formGroup]="form">
    <div class="form-group">
        <label for="amount">Amount:</label>
    <input type="text" id="amount" formControlName="amount">
    </div>
    <div class="form-group">
        <label for="from">From:</label>
        <select name="from" id="from" formControlName="from">

            @for (item of currencies; track item) {
                <option [value]="item" >{{item}}</option>
            }
            
        </select>
    </div>
    <button (click)="swap()">swap</button>
    <div class="form-group">
        <label for="to">To:</label>
        <select name="to" id="to" formControlName="to">

            @for (item of currencies; track item) {
                <option [value]="item" >{{item}}</option>
            }
            
        </select>
    </div>

    <button (click)="convert()" [disabled]="form.invalid">convert</button>
    <button *ngIf="!details" (click)="navToDetails()">details</button>
    <button *ngIf="details" [routerLink]="['/home']">back</button>

    <h2>result: {{result}}</h2>
</form>
